body {
    background-color: rgb(202, 202, 202);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.header {
    background-color: rgb(59, 59, 59);
    height:60px;
    border-bottom: 0px;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-top: none;
    padding-bottom: none;
}
.logo {
    width: 125px;
}
.logo img {
    padding: 20px;
    width: 150px;
}
.text {
    padding: 50px;
}
.title {
    color: burlywood;
    font-size: 40px;
}
.mainText {
    font-size: 20px;
}
.bottom {
    background-color: rgb(59, 59, 59);
    height:60px;
    position:relative;
    margin-top: 200%;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
}
.jvaro {
    width: 500px;
}
.trap {
    width: 500px;
}
.goodby {
    font-size: 25px;
    margin-left: 1000px;
}